#lista{
  list-style-type: none;
  font-size: 1.2em;
}
#contenedor{
  background-color: aquamarine;
  border: 4px solid rgb(0, 255, 89);
  box-shadow: 0px 0px 12px red;
  animation-name:notificacion;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes notificacion {
20%{border:  4px solid rgb(0, 255, 30);}
  25%  {border:  4px solid rgb(0, 255, 255);}
  30%  {border:  4px solid rgb(26, 70, 70);}
  40%  {border:  4px solid rgb(0, 255, 195);}
  50%  {border:  4px solid rgb(246, 255, 0);}
  60%  {border:  4px solid rgb(255, 68, 0);}
  70%  {border:  4px solid rgb(230, 0, 255);}
  75%  {border:  4px solid rgb(255, 149, 0);}
  80%  {border:  4px solid rgb(0, 157, 255);}
  90%  {border:  4px solid rgb(149, 0, 255);}
  100% {border:  4px solid rgb(255, 17, 0);}
}