#prueba{
 stroke:red;
 stroke-width:5px;
  animation-name:svg;
   animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;


}
@keyframes svg {
20%{stroke:rgb(0, 255, 30);}
  25%  {stroke:rgb(0, 255, 255);}
  30%  {stroke:rgb(26, 70, 70);}
  40%  {stroke:rgb(0, 255, 195);}
  50%  {stroke:rgb(246, 255, 0);}
  60%  {stroke:rgb(255, 68, 0);}
  70%  {stroke:rgb(230, 0, 255);}
  75%  {stroke:rgb(255, 149, 0);}
  80%  {stroke:rgb(0, 157, 255);}
  90%  {stroke:rgb(149, 0, 255);}
  100% {stroke:rgb(255, 17, 0);}
}